<br>
   <div class="row">
		<div class="col-md-5">
			<%= f.input :name, input_html: {maxlength: 50}%>
		</div>
	</div>

   <div class="row">
		<div class="col-md-2">
			<%= f.input :birth_date,  as: :string, input_html: {data: {provide:'datepicker' },class: 'date'}%>
		</div>
		<div class="col-md-4">
			<%= f.input :profession, input_html: {maxlength: 50}%>
		</div>
		<div class="col-md-4">
			<%= f.input :gender, collection: Gender.to_a %>
		</div>
	</div>

   <div class="row">
		<div class="col-md-4">
			<%= f.input :cpf, input_html: {class: 'cpf'}%>
		</div>
		<div class="col-md-4">
			<%= f.input :rg, input_html: {class: ''}%>
		</div>
		<div class="col-md-1">
		</div>
	</div>
   <div class="row">
   		<div class="col-md-3">
			<%= f.input :cel_phone, input_html: {class: 'phone'}%>
		</div>
		 		<div class="col-md-3">
			<%= f.input :phone, input_html: {class: 'phone'}%>
		</div>
   </div>
   <fieldset>
   	<legend>Filiação</legend>
   		<div class="row">
   			<div class="col-md-5">
				<%= f.input :mother, input_html: {maxlength: 50}%>
   			</div>
   			<div class="col-md-5">
				<%= f.input :father, input_html: {maxlength: 50}%>
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-md-5">
				<%= f.input :responsible, input_html: {maxlength: 50}%>
   			</div>
   			<div class="col-md-4">
				<%= f.input :cpf_responsible, input_html: {class: "cpf"}%>
   			</div>
   		</div>
   </fieldset>
