<table class="table">
  <td>
    <h3>Listagem de Alunos</h3>
  </td>
  <td width='5%'>
    <%= link_to new_student_path, role: 'button' do %>
      <h2 class="text-success" title='Novo Aluno'><span class="glyphicon glyphicon-plus"></span></h2>
    <% end %>    
  </td>
</table>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
  <%= text_field_tag 'txtBusca', '', :class => 'form-control input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list" %>
</div>

<table class=" list table table-striped table-bordered">
<tr>
  <th>
    Nome
  </th>
  <th width="5%">
  </th>
</tr>
  <% if @students.any?%>
    <% @students.each do |e|%>
      <tr>
        <td>
          <%= e%>
        </td>
        <td>
          <%= link_to '', edit_student_path(e), class: "glyphicon glyphicon-pencil" %>
          <%= link_to '', e, method: :delete, data:{confirm: 'Confirma exclusão ?'}, class: "glyphicon glyphicon-trash text-danger" %>
        </td>
      </tr>
    <% end %>
  <%else%>
    <tr>
      <td colspan="3" align="center">
        Nenhum registro foi encontrado.
      </td>
    </tr>
  <%end%>
</table>